// date picker


#RangeDatePicker {
    &.active {
        .selected-date {
            color: rgba(255, 255, 255, 0.75) !important;
        }
    }
}

.react-google-flight-datepicker .date:focus::after,
.react-google-flight-datepicker .date.is-focus::after {
    border: none !important;
    outline: none !important;
}

.react-google-flight-datepicker .day {
    outline: none !important;
}

.react-google-flight-datepicker .day.selected.hovered::after,
.react-google-flight-datepicker .day.selected::after {
    background-color: #A6A6A6 !important;
    outline: none;

    &:focus {
        outline: none !important;
    }
}

.react-google-flight-datepicker .day:hover::after {
    border: 2px solid #A6A6A6 !important;
    outline: none;

}

.react-google-flight-datepicker .day.hovered {
    background-color: #E8E8E8 !important;
    outline: none;

}

.react-google-flight-datepicker .day.selected.hovered {
    background: linear-gradient(90deg, #fff 50%, #e0e0e0 50%) !important;
    ;
    outline: none;

}

.react-google-flight-datepicker .day.selected.hovered.end {
    background: linear-gradient(90deg, #e6e6e6 50%, #fff 50%) !important;
    outline: none;

}

.react-google-flight-datepicker {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        background-image: url('../images/sort-down-triangular-symbol.svg');
        background-size: 7px;
        background-repeat: no-repeat;
        background-position: right 16px;
        width: 20px;
        height: 25px;
        right: 0;
        top: -3px;
    }

    min-width: 220px;

    .change-date-button {
        outline: none;
    }

    .icon-calendar {
        display: none !important;
    }

    .date:first-child::before {
        width: 6px !important;
        height: 2px !important;
        background: #dadce0 !important;
    }

    .date-picker-input {
        border: none !important;
        border-radius: 0 !important;
        border-bottom: 1px solid rgba(197, 187, 187, 0.58) !important;
        height: 28px !important;
        position: absolute;
        top: 0;
    }

    .change-date-group {
        display: none !important;
    }

    .date-picker {
        padding: 0 !important;
        background-color: transparent !important;
    }

    .date {
        background: transparent !important;

        &:focus {
            outline: none;
        }

        &:nth-child(1) {
            padding-left: 0 !important;
        }
    }

    .selected-date {
        // color: rgba(255, 255, 255, 0.75) !important;
    }



    .dialog-date-picker {

        &.open {
            position: fixed !important;
            left: 25% !important;
            top: 15% !important;
            margin-bottom: 0;
            position: relative;
            z-index: 4;

            @include breakpoint(min-desktop) {
                left: 17% !important;
            }

            @include breakpoint(tablet-land) {
                left: 10% !important;
            }

            @include breakpoint(tablet-large) {
                max-width: 360px;
                left: 50% !important;
                transform: translate(-50%, 46px) !important;
            }

            @include breakpoint(large-phone) {
                z-index: 99999;
            }

            .change-date-group {
                display: flex !important;
            }

            .date:first-child::before {
                display: none;
            }

            .date-picker-input {
                border: none !important;
                height: 56px !important;
                position: inherit !important;
                top: 0;
            }


            .date {
                background: #ffffff !important;

                &:nth-child(1) {
                    padding-left: 13px !important;

                    .selected-date {
                        color: #1D2634;
                        padding-top: 1rem;
                        font-size: 1.1rem;
                        font-weight: 600;

                        &::before {
                            content: "From Date";
                            position: absolute;
                            top: .5rem;
                            left: 3rem;
                            width: 100px;
                            height: 10px;
                            font-size: .8rem;
                            color: rgba(29, 38, 52, 0.5);


                        }
                    }
                }

                &:nth-child(2) {
                    padding-left: 13px !important;

                    .selected-date {
                        color: #1D2634;
                        padding-top: 1rem;
                        font-size: 1.1rem;
                        font-weight: 600;

                        &::before {
                            content: "To Date";
                            position: absolute;
                            top: .5rem;
                            left: 13px;
                            width: 100px;
                            height: 10px;
                            font-size: .8rem;
                            color: rgba(29, 38, 52, 0.5);


                        }
                    }
                }

            }

            .icon-calendar {
                display: block !important;
            }


            .date {
                max-width: calc(50% - 15px);
                box-shadow: 0px 2px 3px #00000080;
                border-radius: 8px;
                outline: none !important;

                &:last-child {
                    border-bottom-right-radius: 12px !important;
                    border-top-right-radius: 12px !important;

                }
            }

            .month-name {
                font-size: 1rem;
                font-weight: 600;
                margin-bottom: 30px;
            }

            .calendar-flippers {
                .flipper-button {
                    position: relative;
                    top: -171px;
                    right: 0px;
                    background-color: transparent;
                    border-radius: 0;
                    box-shadow: none;

                    &:nth-child(1) {
                        margin-left: 20px;
                    }

                    &:nth-child(2) {
                        margin-right: 20px;
                    }
                }
            }

            .date-picker-input {
                border: none
            }

            .icon-calendar {
                fill: #1D2634 !important;
            }

            .reset-button {
                display: none !important;
            }

            .dialog-content {

                border-top: none !important;
                z-index: 99999;
            }

            .dialog-footer {
                position: relative;
                z-index: 99999;

                .submit-button {
                    background-color: #A6A6A6 !important;
                }
            }

            .dialog-header {
                padding: 1.5rem 1rem !important;
                z-index: 99999;

                .date-picker-input {
                    width: 100% !important;
                }
            }
        }
    }
}

@include breakpoint(large-phone) {
    .back-button
    {
        margin-right: 0px;
    }
    .react-google-flight-datepicker .dialog-date-picker.open .date:nth-child(2)
    {
        margin-left: 0px !important;
    }
    .react-google-flight-datepicker .change-date-group, .btn-outline 
    {
        display: none !important;
    }
    .react-google-flight-datepicker .dialog-date-picker.open .date:nth-child(1) .selected-date
    {
        font-size: .8rem;
    }
    .react-google-flight-datepicker .dialog-content
    {
        height: 400px;
    }
}
.rbt 
{
    width: 100%;
}