.react-timekeeper{
    margin-top: -250px !important;
    margin-left: 150px !important;	
}
.css-5kupwr{
margin-top: 0px !important;
}
.react-timekeeper-button-reset{
    margin-top: 10px !important;
 }